{{response.files.append(URL('static','js/carrinho.js'))}}
{{extend 'bootstrap.html'}}

 {{block destaque}}
  <div class="hero-unit">
            <h1>Seu carrinho de compras</h1>


    <table class="table table-striped">
        <thead>
        <tr>
           <th>{{=T('Picture')}}</th>
           <th>{{=T('name')}}</th>
           <th>{{=T('price')}}</th>
           <th>{{=T('quantity')}}</th>
           <th>{{=T('total value')}}</th>
           <th></th>
        </tr>
        <thead>
            <tbody>
    {{for item in session.carrinho:}}
     <tr id="produto_{{=item['id']}}">
       <td><img width=50 src="{{=URL('home', 'download', args=item['miniatura'])}}" alt=""></td>
       <td>{{=item['nome']}}</td>
       <td>{{=item['preco']}}</td>
       <td>{{=item['quantidade']}}</td>
       <td>{{=formata_valor(item['total'])}}</td>
       <td> <button data-url="{{=URL('remover_do_carrinho', args=item['id'])}}" data-id="{{=item['id']}}" class="btn btn-danger removebutton">Remover</button> </td>
     </tr>
    {{pass}}
</tbody>
    </table>

 </div>
 {{end}}

<div class="container">
   <div class="row">


   </div>

   <div class="row">
   </div>
</div>
